
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Hello ASP.NET MVC World!<br/>
        <a href="/Home/Time">Display current time</a>
        @* Bonus: replace previous line with the following *@
        @*@Html.ActionLink("Display current time", "Time")*@
    </div>
</body>
</html>
